openapi: 3.0.2
info:
  description: "Package github.com/moov-io/irs implements a file reader and writer\
    \ written in Go along with a HTTP API and CLI for creating, parsing, validating,\
    \ and transforming IRS electronic Filing Information Returns Electronically (FIRE).\
    \ FIRE operates on a byte(ASCII) level making it difficult to interface with JSON\
    \ and CSV/TEXT file formats.\n| Input      | Output     | |------------|------------|\
    \ | JSON       | JSON       | | ASCII FIRE | ASCII FIRE | |            | PDF Form\
    \   | |            | SQL        | "
  title: IRS API
  version: 0.0.1
servers:
- description: Local Testing
  url: https://local.moov.io:8208/
- description: Production
  url: https://api.moov.io/
tags:
- description: |
    File contains the structures of a irs file. It contains one header record block, one trailer record block, multiple data blocks.
    File have 2 types such as json and irs.
  name: irs files
paths:
  /health:
    get:
      description: Check the irs service to check if running
      operationId: health
      responses:
        "200":
          content:
            text/plain:
              schema:
                example: 'health: true'
                type: string
          description: successful operation
      summary: health irs service
      tags:
      - irs files
  /print:
    post:
      description: Print irs file with requested file format.
      operationId: print
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                format:
                  default: json
                  description: print irs file type
                  enum:
                  - json
                  - irs
                  type: string
                file:
                  description: irs file to upload
                  format: binary
                  type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                example: 'T2017P12345678955AA5       T1ASDF GLOBAL INC                                                                 ASDF
                  GLOBAL INC                                                                 123
                  ASDF STREET                         NEW YORK                                NY10001                   00000002RONALD
                  SWANSON                          5555555555     ronald@swanson.com                                                                                                                           00000001          VGSG
                  CORP                                1234 POIU ST                            TAXVILLE                                TX10991    BLERD
                  FLERPLERMERD                      5557776666                                        1          A20171     123456789ASDF1A
                  7                       1ASDF GLOBAL INC                                                                 1123
                  ASDF STREET                         NEW YORK                                NY10001    5555555555                                                                                                                                                                                                                                                                         00000002                                                                                                                                                                                                                                                   B2017
                  SPAC1987654321                                  000000000000000000000000000000000000000000000000000000000000000000000000000000000700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                  SPACELEY SPROCKETS                                                                                                      5678
                  INDUSTRY PLACE                                                             MOON                                    CA22222     00000004                                    2  11                                                                                                                                                                              00000000000400000000000201  B2017
                  SPAC1987654321                                  000000000000000000000000000000000000000000000000000000000000000000000000000000000700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                  SPACELEY SPROCKETS                                                                                                      5678
                  INDUSTRY PLACE                                                             MOON                                    CA22222     00000004                                                                                                                                                                                                                       00000000000000000000000101  C00000002      000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000                                                                                                                                                                                                    00000005                                                                                                                                                                                                                                                   K00000002      000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000                                                                                                                                                                                                    00000006                                                                                                                                                                                                       2                 3                     AL  F00000001000000000000000000000                   00000002                                                                                                                                                                                                                                                                                                                                                                                                                                                          00000007                                                                                                                                                                                                                                                   '
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          description: successful operation
        "400":
          content:
            text/plain:
              schema:
                example: invalid irs file
                type: string
          description: request
      summary: Print irs file with specific format
      tags:
      - irs files
  /validator:
    post:
      description: Validation of irs file.
      operationId: validator
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: irs file to upload
                  format: binary
                  type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                example: valid file
                type: string
          description: successful operation
        "400":
          content:
            text/plain:
              schema:
                example: bad request
                type: string
          description: bad request
        "501":
          content:
            text/plain:
              schema:
                example: invalid irs file
                type: string
          description: failed operation
      summary: Validate irs file
      tags:
      - irs files
  /convert:
    post:
      description: Convert from original irs file to new irs file
      operationId: convert
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                format:
                  default: json
                  description: print irs file type
                  enum:
                  - json
                  - irs
                  type: string
                generate:
                  default: false
                  description: generate new trailer record
                  type: boolean
                file:
                  description: irs file to upload
                  format: binary
                  type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                description: new irs file
                format: binary
                type: string
          description: successful operation
        "400":
          content:
            text/plain:
              schema:
                example: bad request
                type: string
          description: bad request
        "501":
          content:
            text/plain:
              schema:
                example: failed irs convert
                type: string
          description: failed operation
      summary: Convert irs file
      tags:
      - irs files
components:
  responses:
    Empty:
      content:
        text/plain:
          schema:
            maxLength: 0
            pattern: //i
            type: string
      description: Empty response for unauthorized or any other returned http status
        code
  schemas:
    UUID:
      description: UUID v4
      format: uuid
      maxLength: 36
      pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      type: string
    File:
      properties:
        transmitter:
          $ref: '#/components/schemas/TRecord'
        payment_persons:
          items:
            $ref: '#/components/schemas/PaymentPerson'
          type: array
        end_transmitter:
          $ref: '#/components/schemas/FRecord'
      required:
      - end_transmitter
      - transmitter
    PaymentPerson:
      properties:
        payer:
          $ref: '#/components/schemas/ARecord'
        payees:
          items:
            type: object
          type: array
        end_payer:
          $ref: '#/components/schemas/CRecord'
        states:
          items:
            $ref: '#/components/schemas/KRecord'
          type: array
      required:
      - end_payer
      - payer
    TRecord:
      properties:
        record_type:
          enum:
          - T
          type: string
        payment_year:
          format: int32
          type: integer
        prior_year_data_indicator:
          type: string
        transmitter_tin:
          type: string
        transmitter_control_code:
          type: string
        test_file_indicator:
          type: string
        foreign_entity_indicator:
          type: string
        transmitter_name:
          type: string
        transmitter_name_contd:
          type: string
        company_name:
          type: string
        company_name_contd:
          type: string
        company_mailing_address:
          type: string
        company_city:
          type: string
        company_state:
          type: string
        company_zip_code:
          type: string
        total_number_of_payees:
          format: int32
          type: integer
        contact_name:
          type: string
        contact_telephone_number_and_ext:
          type: string
        contact_email_address:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        vendor_indicator:
          type: string
        vendor_name:
          type: string
        vendor_mailing_address:
          type: string
        vendor_city:
          type: string
        vendor_state:
          type: string
        vendor_zip_code:
          type: string
        vendor_contact_name:
          type: string
        vendor_contact_telephone_and_ext:
          type: string
        vendor_foreign_entity_indicator:
          type: string
      required:
      - company_city
      - company_mailing_address
      - company_name
      - company_state
      - company_zip_code
      - contact_name
      - contact_telephone_number_and_ext
      - payment_year
      - prior_year_data_indicator
      - record_sequence_number
      - record_type
      - transmitter_control_code
      - transmitter_name
      - transmitter_tin
      - vendor_city
      - vendor_contact_name
      - vendor_contact_telephone_and_ext
      - vendor_foreign_entity_indicator
      - vendor_indicator
      - vendor_mailing_address
      - vendor_name
      - vendor_state
      - vendor_zip_code
    ARecord:
      properties:
        record_type:
          enum:
          - A
          type: string
        payment_year:
          format: int32
          type: integer
        combined_fs_filing_program:
          type: string
        payer_tin:
          type: string
        payer_name_control:
          type: string
        last_filing_indicator:
          type: string
        type_of_return:
          type: string
        amount_codes:
          type: string
        foreign_entity_indicator:
          type: string
        first_payer_name:
          type: string
        second_payer_name:
          type: string
        transfer_agent_control:
          type: string
        payer_shipping_address:
          type: string
        payer_city:
          type: string
        payer_state:
          type: string
        payer_zip_code:
          type: string
        payer_telephone_number_and_ext:
          type: string
        record_sequence_number:
          format: int32
          type: integer
      required:
      - amount_codes
      - first_payer_name
      - payer_city
      - payer_shipping_address
      - payer_state
      - payer_tin
      - payer_zip_code
      - payment_year
      - record_sequence_number
      - record_type
      - transfer_agent_control
      - type_of_return
    BRecordWith1097Btc:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        issuer_indicator:
          type: string
        code:
          type: string
        unique_identifier:
          type: string
        bond_type:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1098:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        issuer_indicator:
          type: string
        mortgage_origination_date:
          format: date-time
          type: string
        property_securing_mortgage_indicator:
          type: string
        property_address_description_securing_mortgage:
          type: string
        other:
          type: string
        number_mortgaged_properties:
          format: int32
          type: integer
        mortgage_acquisition_date:
          format: date-time
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1098C:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        transaction_indicator:
          type: string
        transfer_after_improvements_indicator:
          type: string
        transfer_market_value_indicator:
          type: string
        year:
          format: int32
          type: integer
        make:
          type: string
        model:
          type: string
        vehicle_identification_number:
          type: string
        vehicle_description:
          type: string
        date_contribution:
          format: date-time
          type: string
        donee_indicator:
          type: string
        intangible_religious_benefits_indicator:
          type: string
        deduction_less_indicator:
          type: string
        goods_services:
          type: string
        date_sale:
          format: date-time
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1098E:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        origination_interest_indicator:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1098F:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        date_order_agreement:
          format: date-time
          type: string
        case_number:
          type: string
        matter_suit_agreement:
          type: string
        payment_code:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1098Q:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        annuity_start_date:
          format: date-time
          type: string
        january:
          format: int32
          type: integer
        february:
          format: int32
          type: integer
        march:
          format: int32
          type: integer
        april:
          format: int32
          type: integer
        may:
          format: int32
          type: integer
        june:
          format: int32
          type: integer
        july:
          format: int32
          type: integer
        august:
          format: int32
          type: integer
        september:
          format: int32
          type: integer
        october:
          format: int32
          type: integer
        november:
          format: int32
          type: integer
        december:
          format: int32
          type: integer
        name_plan:
          type: string
        plan_number:
          type: string
        employer_identification_number:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1098T:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        identification_number:
          type: string
        halftime_student_indicator:
          type: string
        graduate_student_indicator:
          type: string
        academic_period_indicator:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099A:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        personal_liability_indicator:
          type: string
        date_acquisition_knowledge_abandonment:
          format: date-time
          type: string
        description_property:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099B:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        second_tin_notice:
          type: string
        noncovered_security_indicator:
          type: string
        type_gain_loss_indicator:
          type: string
        gross_proceeds_indicator:
          type: string
        date_sold_disposed:
          format: date-time
          type: string
        cusip_number:
          type: string
        description_property:
          type: string
        date_acquired:
          format: date-time
          type: string
        loss_not_allowed_indicator:
          type: string
        applicable_checkbox_form8949:
          type: string
        applicable_checkbox_collectables:
          type: string
        fatca_requirement_indicator:
          type: string
        applicable_checkbox_qof:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099C:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        second_tin_notice:
          type: string
        date_identifiable_event:
          format: date-time
          type: string
        debt_description:
          type: string
        personal_liability_indicator:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Cap:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        date_sale_exchange:
          format: date-time
          type: string
        number_shares_exchanged:
          format: int32
          type: integer
        classes_stock_exchanged:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Div:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        second_tin_notice:
          type: string
        foreign_country_possession:
          type: string
        fatca_requirement_indicator:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
        combined_federal_state_code:
          format: int32
          type: integer
      required:
      - combined_federal_state_code
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099G:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        second_tin_notice:
          type: string
        trade_business_indicator:
          type: string
        tax_tear_refund:
          format: int32
          type: integer
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
        combined_federal_state_code:
          format: int32
          type: integer
      required:
      - combined_federal_state_code
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099H:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        number_months_eligible:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Int:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        second_tin_notice:
          type: string
        foreign_country:
          type: string
        cusip_number:
          type: string
        fatca_requirement_indicator:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
        combined_federal_state_code:
          format: int32
          type: integer
      required:
      - combined_federal_state_code
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099K:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        second_tin_notice:
          type: string
        type_filer_indicator:
          type: string
        type_payment_indicator:
          type: string
        number_payment_transactions:
          format: int32
          type: integer
        payment_settlement_name_phone_number:
          type: string
        merchant_category_code:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
        combined_federal_state_code:
          format: int32
          type: integer
      required:
      - combined_federal_state_code
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Ls:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        date_sale:
          format: date-time
          type: string
        issuers_information:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Ltc:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        type_payment_indicator:
          type: string
        name_insured:
          type: string
        address_insured:
          type: string
        city_insured:
          type: string
        state_insured:
          type: string
        zip_code_insured:
          type: string
        status_illness_indicator:
          type: string
        date_certified:
          format: date-time
          type: string
        qualified_contract_indicator:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
      - zip_code_insured
    BRecordWith1099Misc:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        second_tin_notice:
          type: string
        direct_sales_indicator:
          type: string
        fatca_requirement_indicator:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
        combined_federal_state_code:
          format: int32
          type: integer
      required:
      - combined_federal_state_code
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Oid:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        second_tin_notice:
          type: string
        direct_sales_indicator:
          type: string
        fatca_requirement_indicator:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
        combined_federal_state_code:
          format: int32
          type: integer
      required:
      - combined_federal_state_code
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Patr:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        second_tin_notice:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
        combined_federal_state_code:
          format: int32
          type: integer
      required:
      - combined_federal_state_code
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Q:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        trustee_transfer_indicator:
          type: string
        type_tuition_payment:
          type: string
        designated_beneficiary:
          type: string
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099R:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        distribution_code:
          type: string
        taxable_amount_not_determined_indicator:
          type: string
        ira_sep_simple_indicator:
          type: string
        total_distribution_indicator:
          type: string
        percentage_total_distribution:
          format: int32
          type: integer
        firstYear_designated_roth_contribution:
          format: int32
          type: integer
        fatca_requirement_indicator:
          type: string
        date_payment:
          format: date-time
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
        combined_federal_state_code:
          format: int32
          type: integer
      required:
      - combined_federal_state_code
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099S:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        property_services_indicator:
          type: string
        date_closing:
          format: date-time
          type: string
        address_legal_description:
          type: string
        foreign_transferor:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Sa:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        distribution_code:
          type: string
        medicare_advantage_msa_indicator:
          type: string
        hsa_indicator:
          type: string
        archer_mas_indicator:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          format: int32
          type: integer
        local_income_tax_withheld:
          format: int32
          type: integer
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith1099Sb:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        issuers_information:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith3921:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        date_option_granted:
          format: date-time
          type: string
        date_option_exercised:
          format: date-time
          type: string
        number_shares_transferred:
          format: int32
          type: integer
        other_than_transferor_information:
          type: string
        special_data_entries:
          type: string
      required:
      - date_option_exercised
      - date_option_granted
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith3922:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        date_option_granted:
          format: date-time
          type: string
        date_option_exercised:
          format: date-time
          type: string
        number_shares_transferred:
          format: int32
          type: integer
        date_legal_title_transferred:
          format: date-time
          type: string
        other_than_transferor_information:
          type: string
        special_data_entries:
          type: string
      required:
      - date_legal_title_transferred
      - date_option_exercised
      - date_option_granted
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith5498:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        ira_indicator:
          type: string
        sep_indicator:
          type: string
        simple_indicator:
          type: string
        roth_ira_indicator:
          type: string
        rmd_indicator:
          type: string
        year_postponed_contribution:
          format: int32
          type: integer
        postponed_contribution_code:
          type: string
        postponed_contribution_reason:
          type: string
        repayment_code:
          type: string
        rmd_date:
          format: date-time
          type: string
        codes:
          type: string
        special_data_entries:
          type: string
        combined_federal_state_code:
          format: int32
          type: integer
      required:
      - combined_federal_state_code
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith5498Esa:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
          format: int32
          type: integer
        payment_amount_9:
          format: int32
          type: integer
        payment_amount_A:
          format: int32
          type: integer
        payment_amount_B:
          format: int32
          type: integer
        payment_amount_C:
          format: int32
          type: integer
        payment_amount_D:
          format: int32
          type: integer
        payment_amount_E:
          format: int32
          type: integer
        payment_amount_F:
          format: int32
          type: integer
        payment_amount_G:
          format: int32
          type: integer
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          format: int32
          type: integer
        special_data_entries:
          type: string
      required:
      - first_payee_name_line
      - payee_city
      - payee_mailing_address
      - payee_state
      - payee_zip_code
      - payees_tin
      - payment_year
      - record_sequence_number
      - record_type
    BRecordWith5498Sa:
      properties:
        record_type:
          enum:
          - B
          type: string
        payment_year:
          format: int32
          type: integer
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          format: int32
          type: integer
        payment_amount_2:
          format: int32
          type: integer
        payment_amount_3:
          format: int32
          type: integer
        payment_amount_4:
          format: int32
          type: integer
        payment_amount_5:
          format: int32
          type: integer
        payment_amount_6:
          format: int32
          type: integer
        payment_amount_7:
          format: int32
          type: integer
        payment_amount_8:
[...]
