openapi: 3.0.2
info:
  title: "IRS API"
  version: 0.0.1
  description: "Package github.com/moov-io/irs implements a file reader and writer written in Go along with a HTTP API and 
CLI for creating, parsing, validating, and transforming IRS electronic Filing Information Returns 
Electronically (FIRE). FIRE operates on a byte(ASCII) level making it difficult to interface with JSON and 
CSV/TEXT file formats.\n
| Input      | Output     |\n
|------------|------------|\n
| JSON       | JSON       |\n
| ASCII FIRE | ASCII FIRE |\n
|            | PDF Form   |\n
|            | SQL        |\n
"
servers:
  - url: https://local.moov.io:8208/
    description: Local Testing
  - url: https://api.moov.io/
    description: Production
    
tags:
  - name: 'irs files'
    description: |
      File contains the structures of a irs file. It contains one header record block, one trailer record block, multiple data blocks.
      File have 2 types such as json and irs.
      
paths:
  /health:
    get:
      tags: ['irs files']
      summary: health irs service
      description: Check the irs service to check if running
      operationId: health
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
                example: 'health: true'
  /print:
    post:
      tags: ['irs files']
      summary: Print irs file with specific format
      description: Print irs file with requested file format.
      operationId: print
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                format:
                  type: string
                  description: print irs file type
                  default: json
                  example: ascii
                  enum:
                    - json
                    - ascii
                    - pdf
                file:
                  type: string
                  description: irs file to upload
                  format: binary
                  example: '{
  "transmitter":{
    "record_type": "T",
    "payment_year": 2019,
    "prior_year_data_indicator": "P",
    "transmitter_tin": "123456789",
    "transmitter_control_code": "55AA5",
    "test_file_indicator": "T",
    "foreign_entity_indicator": "1",
    "transmitter_name": "ASDF GLOBAL INC",
    "transmitter_name_contd": "",
    "company_name": "ASDF GLOBAL INC",
    "company_name_contd": "",
    "company_mailing_address": "123 ASDF STREET",
    "company_city": "NEW YORK",
    "company_state": "NY",
    "company_zip_code": "10001",
    "total_number_of_payees": 1,
    "contact_name": "RONALD SWANSON",
    "contact_telephone_number_and_ext": "5555555555",
    "contact_email_address": "ronald@swanson.com",
    "record_sequence_number": 1,
    "vendor_indicator": "V",
    "vendor_name": "GSG CORP",
    "vendor_mailing_address": "1234 POIU ST",
    "vendor_city": "TAXVILLE",
    "vendor_state": "TX",
    "vendor_zip_code": "10991",
    "vendor_contact_name": "BLERD FLERPLERMERD",
    "vendor_contact_telephone_and_ext": "5557776666",
    "vendor_foreign_entity_indicator": "1"
  },
  "payment_persons":[
    {
      "payer":{
        "record_type": "A",
        "payment_year": 2019,
        "combined_fs_filing_program": "",
        "payer_tin": "123456789",
        "payer_name_control": "ASDF",
        "last_filing_indicator": "1",
        "type_of_return": "A",
        "amount_codes": "7",
        "foreign_entity_indicator": "1",
        "first_payer_name": "ASDF GLOBAL INC",
        "second_payer_name": "",
        "transfer_agent_control": "1",
        "payer_shipping_address": "123 ASDF STREET",
        "payer_city": "NEW YORK",
        "payer_state": "NY",
        "payer_zip_code": "10001",
        "payer_telephone_number_and_ext": "5555555555",
        "record_sequence_number": 2
      },
      "payees":[
        {
          "record_type": "B",
          "payment_year": 2019,
          "corrected_return_indicator": "",
          "payees_name_control": "SPAC",
          "type_of_tin": "1",
          "payees_tin": "987654321",
          "payers_account_number_for_payee": "",
          "payers_office_code": "",
          "payment_amount_1": 0,
          "payment_amount_2": 0,
          "payment_amount_3": 0,
          "payment_amount_4": 0,
          "payment_amount_5": 0,
          "payment_amount_6": 0,
          "payment_amount_7": 700,
          "payment_amount_8": 0,
          "payment_amount_9": 0,
          "payment_amount_A": 0,
          "payment_amount_B": 0,
          "payment_amount_C": 0,
          "payment_amount_D": 0,
          "payment_amount_E": 0,
          "payment_amount_F": 0,
          "payment_amount_G": 0,
          "foreign_country_indicator": "",
          "first_payee_name_line": "SPACELEY SPROCKETS",
          "second_payee_name_line": "",
          "payee_mailing_address": "5678 INDUSTRY PLACE",
          "payee_city": "MOON",
          "payee_state": "CA",
          "payee_zip_code": "22222",
          "record_sequence_number": 3,
          "second_tin_notice": "2",
          "direct_sales_indicator": "1",
          "fatca_requirement_indicator": "1",
          "special_data_entries": "",
          "state_income_tax_withheld": 4,
          "local_income_tax_withheld": 2,
          "combined_federal_state_code": 1
        }
      ],
      "end_payer":{
        "record_type": "C",
        "number_of_payees": 1,
        "control_total_1": 0,
        "control_total_2": 0,
        "control_total_3": 0,
        "control_total_4": 0,
        "control_total_5": 0,
        "control_total_6": 0,
        "control_total_7": 700,
        "control_total_8": 0,
        "control_total_9": 0,
        "control_total_A": 0,
        "control_total_B": 0,
        "control_total_C": 0,
        "control_total_D": 0,
        "control_total_E": 0,
        "control_total_F": 0,
        "control_total_G": 0,
        "record_sequence_number": 4
      }
    }
  ],
  "end_transmitter":{
    "record_type": "F",
    "number_of_payer_records": 1,
    "total_number_of_payees": 1,
    "record_sequence_number": 5
  }
}'
            encoding:
              file:
                contentType: text/plain
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
                example: 'T2017P12345678955AA5       T1ASDF GLOBAL INC                                                                 ASDF GLOBAL INC                                                                 123 ASDF STREET                         NEW YORK                                NY10001                   00000002RONALD SWANSON                          5555555555     ronald@swanson.com                                                                                                                           00000001          VGSG CORP                                1234 POIU ST                            TAXVILLE                                TX10991    BLERD FLERPLERMERD                      5557776666                                        1          A20171     123456789ASDF1A 7                       1ASDF GLOBAL INC                                                                 1123 ASDF STREET                         NEW YORK                                NY10001    5555555555                                                                                                                                                                                                                                                                         00000002                                                                                                                                                                                                                                                   B2017 SPAC1987654321                                  000000000000000000000000000000000000000000000000000000000000000000000000000000000700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 SPACELEY SPROCKETS                                                                                                      5678 INDUSTRY PLACE                                                             MOON                                    CA22222     00000004                                    2  11                                                                                                                                                                              00000000000400000000000201  B2017 SPAC1987654321                                  000000000000000000000000000000000000000000000000000000000000000000000000000000000700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 SPACELEY SPROCKETS                                                                                                      5678 INDUSTRY PLACE                                                             MOON                                    CA22222     00000004                                                                                                                                                                                                                       00000000000000000000000101  C00000002      000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000                                                                                                                                                                                                    00000005                                                                                                                                                                                                                                                   K00000002      000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000                                                                                                                                                                                                    00000006                                                                                                                                                                                                       2                 3                     AL  F00000001000000000000000000000                   00000002                                                                                                                                                                                                                                                                                                                                                                                                                                                          00000007                                                                                                                                                                                                                                                   '
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          description: request
          content:
            text/plain:
              schema:
                type: string
                example: invalid irs file
  /validator:
    post:
      tags: ['irs files']
      summary: Validate irs file
      description: Validation of irs file.
      operationId: validator
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  description: irs file to upload
                  format: binary
                  example: '{
  "transmitter":{
    "record_type": "T",
    "payment_year": 2019,
    "prior_year_data_indicator": "P",
    "transmitter_tin": "123456789",
    "transmitter_control_code": "55AA5",
    "test_file_indicator": "T",
    "foreign_entity_indicator": "1",
    "transmitter_name": "ASDF GLOBAL INC",
    "transmitter_name_contd": "",
    "company_name": "ASDF GLOBAL INC",
    "company_name_contd": "",
    "company_mailing_address": "123 ASDF STREET",
    "company_city": "NEW YORK",
    "company_state": "NY",
    "company_zip_code": "10001",
    "total_number_of_payees": 1,
    "contact_name": "RONALD SWANSON",
    "contact_telephone_number_and_ext": "5555555555",
    "contact_email_address": "ronald@swanson.com",
    "record_sequence_number": 1,
    "vendor_indicator": "V",
    "vendor_name": "GSG CORP",
    "vendor_mailing_address": "1234 POIU ST",
    "vendor_city": "TAXVILLE",
    "vendor_state": "TX",
    "vendor_zip_code": "10991",
    "vendor_contact_name": "BLERD FLERPLERMERD",
    "vendor_contact_telephone_and_ext": "5557776666",
    "vendor_foreign_entity_indicator": "1"
  },
  "payment_persons":[
    {
      "payer":{
        "record_type": "A",
        "payment_year": 2019,
        "combined_fs_filing_program": "",
        "payer_tin": "123456789",
        "payer_name_control": "ASDF",
        "last_filing_indicator": "1",
        "type_of_return": "A",
        "amount_codes": "7",
        "foreign_entity_indicator": "1",
        "first_payer_name": "ASDF GLOBAL INC",
        "second_payer_name": "",
        "transfer_agent_control": "1",
        "payer_shipping_address": "123 ASDF STREET",
        "payer_city": "NEW YORK",
        "payer_state": "NY",
        "payer_zip_code": "10001",
        "payer_telephone_number_and_ext": "5555555555",
        "record_sequence_number": 2
      },
      "payees":[
        {
          "record_type": "B",
          "payment_year": 2019,
          "corrected_return_indicator": "",
          "payees_name_control": "SPAC",
          "type_of_tin": "1",
          "payees_tin": "987654321",
          "payers_account_number_for_payee": "",
          "payers_office_code": "",
          "payment_amount_1": 0,
          "payment_amount_2": 0,
          "payment_amount_3": 0,
          "payment_amount_4": 0,
          "payment_amount_5": 0,
          "payment_amount_6": 0,
          "payment_amount_7": 700,
          "payment_amount_8": 0,
          "payment_amount_9": 0,
          "payment_amount_A": 0,
          "payment_amount_B": 0,
          "payment_amount_C": 0,
          "payment_amount_D": 0,
          "payment_amount_E": 0,
          "payment_amount_F": 0,
          "payment_amount_G": 0,
          "foreign_country_indicator": "",
          "first_payee_name_line": "SPACELEY SPROCKETS",
          "second_payee_name_line": "",
          "payee_mailing_address": "5678 INDUSTRY PLACE",
          "payee_city": "MOON",
          "payee_state": "CA",
          "payee_zip_code": "22222",
          "record_sequence_number": 3,
          "second_tin_notice": "2",
          "direct_sales_indicator": "1",
          "fatca_requirement_indicator": "1",
          "special_data_entries": "",
          "state_income_tax_withheld": 4,
          "local_income_tax_withheld": 2,
          "combined_federal_state_code": 1
        }
      ],
      "end_payer":{
        "record_type": "C",
        "number_of_payees": 1,
        "control_total_1": 0,
        "control_total_2": 0,
        "control_total_3": 0,
        "control_total_4": 0,
        "control_total_5": 0,
        "control_total_6": 0,
        "control_total_7": 700,
        "control_total_8": 0,
        "control_total_9": 0,
        "control_total_A": 0,
        "control_total_B": 0,
        "control_total_C": 0,
        "control_total_D": 0,
        "control_total_E": 0,
        "control_total_F": 0,
        "control_total_G": 0,
        "record_sequence_number": 4
      }
    }
  ],
  "end_transmitter":{
    "record_type": "F",
    "number_of_payer_records": 1,
    "total_number_of_payees": 1,
    "record_sequence_number": 5
  }
}'
            encoding:
              file:
                contentType: text/plain
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
                example: valid file
        '400':
          description: bad request
          content:
            text/plain:
              schema:
                type: string
                example: bad request
        '501':
          description: failed operation
          content:
            text/plain:
              schema:
                type: string
                example: invalid irs file
  /convert:
    post:
      tags: ['irs files']
      summary: Convert irs file
      description: Convert from original irs file to new irs file
      operationId: convert
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                format:
                  type: string
                  description: print irs file type
                  default: json
                  example: ascii
                  enum:
                    - json
                    - ascii
                    - pdf
                generate:
                  type: boolean
                  description: generate new trailer record
                  default: false
                file:
                  type: string
                  description: irs file to upload
                  format: binary
                  example: '{
  "transmitter":{
    "record_type": "T",
    "payment_year": 2019,
    "prior_year_data_indicator": "P",
    "transmitter_tin": "123456789",
    "transmitter_control_code": "55AA5",
    "test_file_indicator": "T",
    "foreign_entity_indicator": "1",
    "transmitter_name": "ASDF GLOBAL INC",
    "transmitter_name_contd": "",
    "company_name": "ASDF GLOBAL INC",
    "company_name_contd": "",
    "company_mailing_address": "123 ASDF STREET",
    "company_city": "NEW YORK",
    "company_state": "NY",
    "company_zip_code": "10001",
    "total_number_of_payees": 1,
    "contact_name": "RONALD SWANSON",
    "contact_telephone_number_and_ext": "5555555555",
    "contact_email_address": "ronald@swanson.com",
    "record_sequence_number": 1,
    "vendor_indicator": "V",
    "vendor_name": "GSG CORP",
    "vendor_mailing_address": "1234 POIU ST",
    "vendor_city": "TAXVILLE",
    "vendor_state": "TX",
    "vendor_zip_code": "10991",
    "vendor_contact_name": "BLERD FLERPLERMERD",
    "vendor_contact_telephone_and_ext": "5557776666",
    "vendor_foreign_entity_indicator": "1"
  },
  "payment_persons":[
    {
      "payer":{
        "record_type": "A",
        "payment_year": 2019,
        "combined_fs_filing_program": "",
        "payer_tin": "123456789",
        "payer_name_control": "ASDF",
        "last_filing_indicator": "1",
        "type_of_return": "A",
        "amount_codes": "7",
        "foreign_entity_indicator": "1",
        "first_payer_name": "ASDF GLOBAL INC",
        "second_payer_name": "",
        "transfer_agent_control": "1",
        "payer_shipping_address": "123 ASDF STREET",
        "payer_city": "NEW YORK",
        "payer_state": "NY",
        "payer_zip_code": "10001",
        "payer_telephone_number_and_ext": "5555555555",
        "record_sequence_number": 2
      },
      "payees":[
        {
          "record_type": "B",
          "payment_year": 2019,
          "corrected_return_indicator": "",
          "payees_name_control": "SPAC",
          "type_of_tin": "1",
          "payees_tin": "987654321",
          "payers_account_number_for_payee": "",
          "payers_office_code": "",
          "payment_amount_1": 0,
          "payment_amount_2": 0,
          "payment_amount_3": 0,
          "payment_amount_4": 0,
          "payment_amount_5": 0,
          "payment_amount_6": 0,
          "payment_amount_7": 700,
          "payment_amount_8": 0,
          "payment_amount_9": 0,
          "payment_amount_A": 0,
          "payment_amount_B": 0,
          "payment_amount_C": 0,
          "payment_amount_D": 0,
          "payment_amount_E": 0,
          "payment_amount_F": 0,
          "payment_amount_G": 0,
          "foreign_country_indicator": "",
          "first_payee_name_line": "SPACELEY SPROCKETS",
          "second_payee_name_line": "",
          "payee_mailing_address": "5678 INDUSTRY PLACE",
          "payee_city": "MOON",
          "payee_state": "CA",
          "payee_zip_code": "22222",
          "record_sequence_number": 3,
          "second_tin_notice": "2",
          "direct_sales_indicator": "1",
          "fatca_requirement_indicator": "1",
          "special_data_entries": "",
          "state_income_tax_withheld": 4,
          "local_income_tax_withheld": 2,
          "combined_federal_state_code": 1
        }
      ],
      "end_payer":{
        "record_type": "C",
        "number_of_payees": 1,
        "control_total_1": 0,
        "control_total_2": 0,
        "control_total_3": 0,
        "control_total_4": 0,
        "control_total_5": 0,
        "control_total_6": 0,
        "control_total_7": 700,
        "control_total_8": 0,
        "control_total_9": 0,
        "control_total_A": 0,
        "control_total_B": 0,
        "control_total_C": 0,
        "control_total_D": 0,
        "control_total_E": 0,
        "control_total_F": 0,
        "control_total_G": 0,
        "record_sequence_number": 4
      }
    }
  ],
  "end_transmitter":{
    "record_type": "F",
    "number_of_payer_records": 1,
    "total_number_of_payees": 1,
    "record_sequence_number": 5
  }
}'
            encoding:
              file:
                contentType: text/plain
      responses:
        '200':
          description: successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                description: new irs file
                format: binary
                example: 'T2017P12345678955AA5       T1ASDF GLOBAL INC                                                                 ASDF GLOBAL INC                                                                 123 ASDF STREET                         NEW YORK                                NY10001                   00000002RONALD SWANSON                          5555555555     ronald@swanson.com                                                                                                                           00000001          VGSG CORP                                1234 POIU ST                            TAXVILLE                                TX10991    BLERD FLERPLERMERD                      5557776666                                        1          A20171     123456789ASDF1A 7                       1ASDF GLOBAL INC                                                                 1123 ASDF STREET                         NEW YORK                                NY10001    5555555555                                                                                                                                                                                                                                                                         00000002                                                                                                                                                                                                                                                   B2017 SPAC1987654321                                  000000000000000000000000000000000000000000000000000000000000000000000000000000000700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 SPACELEY SPROCKETS                                                                                                      5678 INDUSTRY PLACE                                                             MOON                                    CA22222     00000004                                    2  11                                                                                                                                                                              00000000000400000000000201  B2017 SPAC1987654321                                  000000000000000000000000000000000000000000000000000000000000000000000000000000000700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 SPACELEY SPROCKETS                                                                                                      5678 INDUSTRY PLACE                                                             MOON                                    CA22222     00000004                                                                                                                                                                                                                       00000000000000000000000101  C00000002      000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000                                                                                                                                                                                                    00000005                                                                                                                                                                                                                                                   K00000002      000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000                                                                                                                                                                                                    00000006                                                                                                                                                                                                       2                 3                     AL  F00000001000000000000000000000                   00000002                                                                                                                                                                                                                                                                                                                                                                                                                                                          00000007                                                                                                                                                                                                                                                   '
        '400':
          description: bad request
          content:
            text/plain:
              schema:
                type: string
                example: bad request
        '501':
          description: failed operation
          content:
            text/plain:
              schema:
                type: string
                example: failed irs convert

components:
  responses:
    Empty:
      description: Empty response for unauthorized or any other returned http status code
      content:
        text/plain:
          schema:
            type: string
            example: ""
            maxLength: 0
            pattern: "//i"

  securitySchemes:
    GatewayAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT that comes from the gateway that validates against the gateways public RSA key

  schemas:
    UUID:
      description: UUID v4
      type: string
      format: uuid
      maxLength: 36
      pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
    File:
      properties:
        transmitter:
          $ref: '#/components/schemas/TRecord'
        payment_persons:
          type: array
          items:
            $ref: '#/components/schemas/PaymentPerson'
        end_transmitter:
          $ref: '#/components/schemas/FRecord'
      required:
        - transmitter
        - end_transmitter
    PaymentPerson:
      properties:
        payer:
          $ref: '#/components/schemas/ARecord'
        payees:
          type: array
          items:
            type: object
        end_payer:
          $ref: '#/components/schemas/CRecord'
        states:
          type: array
          items:
            $ref: '#/components/schemas/KRecord'
      required:
        - payer
        - end_payer
    TRecord:
      properties:
        record_type:
          type: string
          enum:
            - T
        payment_year:
          type: integer
          format: int32
        prior_year_data_indicator:
          type: string
        transmitter_tin:
          type: string
        transmitter_control_code:
          type: string
        test_file_indicator:
          type: string
        foreign_entity_indicator:
          type: string
        transmitter_name:
          type: string
        transmitter_name_contd:
          type: string
        company_name:
          type: string
        company_name_contd:
          type: string
        company_mailing_address:
          type: string
        company_city:
          type: string
        company_state:
          type: string
        company_zip_code:
          type: string
        total_number_of_payees:
          type: integer
          format: int32
        contact_name:
          type: string
        contact_telephone_number_and_ext:
          type: string
        contact_email_address:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        vendor_indicator:
          type: string
        vendor_name:
          type: string
        vendor_mailing_address:
          type: string
        vendor_city:
          type: string
        vendor_state:
          type: string
        vendor_zip_code:
          type: string
        vendor_contact_name:
          type: string
        vendor_contact_telephone_and_ext:
          type: string
        vendor_foreign_entity_indicator:
          type: string
      required:
        - record_type
        - payment_year
        - prior_year_data_indicator
        - transmitter_tin
        - transmitter_control_code
        - transmitter_name
        - company_name
        - company_mailing_address
        - company_city
        - company_state
        - company_zip_code
        - contact_name
        - contact_telephone_number_and_ext
        - record_sequence_number
        - vendor_indicator
        - vendor_name
        - vendor_mailing_address
        - vendor_city
        - vendor_state
        - vendor_zip_code
        - vendor_contact_name
        - vendor_contact_telephone_and_ext
        - vendor_foreign_entity_indicator
    ARecord:
      properties:
        record_type:
          type: string
          enum:
            - A
        payment_year:
          type: integer
          format: int32
        combined_fs_filing_program:
          type: string
        payer_tin:
          type: string
        payer_name_control:
          type: string
        last_filing_indicator:
          type: string
        type_of_return:
          type: string
        amount_codes:
          type: string
        foreign_entity_indicator:
          type: string
        first_payer_name:
          type: string
        second_payer_name:
          type: string
        transfer_agent_control:
          type: string
        payer_shipping_address:
          type: string
        payer_city:
          type: string
        payer_state:
          type: string
        payer_zip_code:
          type: string
        payer_telephone_number_and_ext:
          type: string
        record_sequence_number:
          type: integer
          format: int32
      required:
        - record_type
        - payment_year
        - payer_tin
        - type_of_return
        - amount_codes
        - first_payer_name
        - transfer_agent_control
        - payer_shipping_address
        - payer_city
        - payer_state
        - payer_zip_code
        - record_sequence_number
    BRecordWith1097Btc:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        issuer_indicator:
          type: string
        code:
          type: string
        unique_identifier:
          type: string
        bond_type:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1098:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        issuer_indicator:
          type: string
        mortgage_origination_date:
          type: string
          format: date-time
        property_securing_mortgage_indicator:
          type: string
        property_address_description_securing_mortgage:
          type: string
        other:
          type: string
        number_mortgaged_properties:
          type: integer
          format: int32
        mortgage_acquisition_date:
          type: string
          format: date-time
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1098C:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        transaction_indicator:
          type: string
        transfer_after_improvements_indicator:
          type: string
        transfer_market_value_indicator:
          type: string
        year:
          type: integer
          format: int32
        make:
          type: string
        model:
          type: string
        vehicle_identification_number:
          type: string
        vehicle_description:
          type: string   
        date_contribution:
          type: string
          format: date-time
        donee_indicator:
          type: string
        intangible_religious_benefits_indicator:
          type: string
        deduction_less_indicator:
          type: string
        goods_services:
          type: string
        date_sale:
          type: string
          format: date-time
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1098E:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        origination_interest_indicator:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1098F:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        date_order_agreement:
          type: string
          format: date-time
        case_number:
          type: string
        matter_suit_agreement:
          type: string
        payment_code:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1098Q:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        annuity_start_date:
          type: string
          format: date-time
        january:
          type: integer
          format: int32
        february:
          type: integer
          format: int32
        march:
          type: integer
          format: int32
        april:
          type: integer
          format: int32
        may:
          type: integer
          format: int32
        june:
          type: integer
          format: int32
        july:
          type: integer
          format: int32
        august:
          type: integer
          format: int32
        september:
          type: integer
          format: int32
        october:
          type: integer
          format: int32
        november:
          type: integer
          format: int32
        december:
          type: integer
          format: int32
        name_plan:
          type: string
        plan_number:
          type: string
        employer_identification_number:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1098T:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        identification_number:
          type: string
        halftime_student_indicator:
          type: string
        graduate_student_indicator:
          type: string
        academic_period_indicator:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1099A:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        personal_liability_indicator:
          type: string
        date_acquisition_knowledge_abandonment:
          type: string
          format: date-time
        description_property:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1099B:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        noncovered_security_indicator:
          type: string
        type_gain_loss_indicator:
          type: string
        gross_proceeds_indicator:
          type: string
        date_sold_disposed:
          type: string
          format: date-time
        cusip_number:
          type: string
        description_property:
          type: string
        date_acquired:
          type: string
          format: date-time
        loss_not_allowed_indicator:
          type: string
        applicable_checkbox_form8949:
          type: string
        applicable_checkbox_collectables:
          type: string
        fatca_requirement_indicator:
          type: string
        applicable_checkbox_qof:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1099C:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        date_identifiable_event:
          type: string
          format: date-time
        debt_description:
          type: string
        personal_liability_indicator:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1099Cap:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        date_sale_exchange:
          type: string
          format: date-time
        number_shares_exchanged:
          type: integer
          format: int32
        classes_stock_exchanged:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1099Div:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        foreign_country_possession:
          type: string
        fatca_requirement_indicator:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          type: integer
          format: int32
        local_income_tax_withheld:
          type: integer
          format: int32
        combined_federal_state_code:
          type: integer
          format: int32
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
        - combined_federal_state_code
    BRecordWith1099G:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        trade_business_indicator:
          type: string
        tax_tear_refund:
          type: integer
          format: int32
        special_data_entries:
          type: string
        state_income_tax_withheld:
          type: integer
          format: int32
        local_income_tax_withheld:
          type: integer
          format: int32
        combined_federal_state_code:
          type: integer
          format: int32
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
        - combined_federal_state_code
    BRecordWith1099H:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        number_months_eligible:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1099Int:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        foreign_country:
          type: string
        cusip_number:
          type: string
        fatca_requirement_indicator:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          type: integer
          format: int32
        local_income_tax_withheld:
          type: integer
          format: int32
        combined_federal_state_code:
          type: integer
          format: int32
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
        - combined_federal_state_code
    BRecordWith1099K:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        type_filer_indicator:
          type: string
        type_payment_indicator:
          type: string
        number_payment_transactions:
          type: integer
          format: int32
        payment_settlement_name_phone_number:
          type: string
        merchant_category_code:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          type: integer
          format: int32
        local_income_tax_withheld:
          type: integer
          format: int32
        combined_federal_state_code:
          type: integer
          format: int32
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
        - combined_federal_state_code
    BRecordWith1099Ls:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        date_sale:
          type: string
          format: date-time
        issuers_information:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1099Ltc:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        type_payment_indicator:
          type: string
        name_insured:
          type: string
        address_insured:
          type: string
        city_insured:
          type: string
        state_insured:
          type: string
        zip_code_insured:
          type: string
        status_illness_indicator:
          type: string
        date_certified:
          type: string
          format: date-time
        qualified_contract_indicator:
          type: string
        state_income_tax_withheld:
          type: integer
          format: int32
        local_income_tax_withheld:
          type: integer
          format: int32
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
        - zip_code_insured
    BRecordWith1099Misc:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        direct_sales_indicator:
          type: string
        fatca_requirement_indicator:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          type: integer
          format: int32
        local_income_tax_withheld:
          type: integer
          format: int32
        combined_federal_state_code:
          type: integer
          format: int32
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
        - combined_federal_state_code
    BRecordWith1099Nec:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        fatca_requirement_indicator:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1099Oid:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        direct_sales_indicator:
          type: string
        fatca_requirement_indicator:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          type: integer
          format: int32
        local_income_tax_withheld:
          type: integer
          format: int32
        combined_federal_state_code:
          type: integer
          format: int32
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
        - combined_federal_state_code
    BRecordWith1099Patr:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        second_tin_notice:
          type: string
        special_data_entries:
          type: string
        state_income_tax_withheld:
          type: integer
          format: int32
        local_income_tax_withheld:
          type: integer
          format: int32
        combined_federal_state_code:
          type: integer
          format: int32
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
        - combined_federal_state_code
    BRecordWith1099Q:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        trustee_transfer_indicator:
          type: string
        type_tuition_payment:
          type: string
        designated_beneficiary:
          type: string
        special_data_entries:
          type: string
      required:
        - record_type
        - payment_year
        - payees_tin
        - first_payee_name_line
        - payee_mailing_address
        - payee_city
        - payee_state
        - payee_zip_code
        - record_sequence_number
    BRecordWith1099R:
      properties:
        record_type:
          type: string
          enum:
            - B
        payment_year:
          type: integer
          format: int32
        corrected_return_indicator:
          type: string
        payees_name_control:
          type: string
        type_of_tin:
          type: string
        payees_tin:
          type: string
        payers_account_number_for_payee:
          type: string
        payers_office_code:
          type: string
        payment_amount_1:
          type: integer
          format: int32
        payment_amount_2:
          type: integer
          format: int32
        payment_amount_3:
          type: integer
          format: int32
        payment_amount_4:
          type: integer
          format: int32
        payment_amount_5:
          type: integer
          format: int32
        payment_amount_6:
          type: integer
          format: int32
        payment_amount_7:
          type: integer
          format: int32
        payment_amount_8:
          type: integer
          format: int32
        payment_amount_9:
          type: integer
          format: int32
        payment_amount_A:
          type: integer
          format: int32
        payment_amount_B:
          type: integer
          format: int32
        payment_amount_C:
          type: integer
          format: int32
        payment_amount_D:
          type: integer
          format: int32
        payment_amount_E:
          type: integer
          format: int32
        payment_amount_F:
          type: integer
          format: int32
        payment_amount_G:
          type: integer
          format: int32
        foreign_country_indicator:
          type: string
        first_payee_name_line:
          type: string
        second_payee_name_line:
          type: string
        payee_mailing_address:
          type: string
        payee_city:
          type: string
        payee_state:
          type: string
        payee_zip_code:
          type: string
        record_sequence_number:
          type: integer
          format: int32
        distribution_code:
          type: string
        taxable_amount_not_determined_indicator:
          type: string
        ira_sep_simple_indicator:
          type: string
        total_distribution_indicator:
          type: string
        percentage_total_distribution:
          type: integer
[...]
